<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="This is my portfolio site.")
    title Bolt - Free Bootstrap 3 Theme
    link(rel="stylesheet", href="css/common.css")
    link(rel="stylesheet", href="css/style.css")
  body
    header.l-header
      nav.inner
        i.fas.fa-bolt.bolt
        p
          a(href="" class="contact") Contact
        .sp-menu.is-close
          span.line
          span.line
          span.line
    main
      .p-page-title
        .l-wrapper
          h1.title.is-raleway Bolt Theme
          p.desc.is-raleway FREE BOOTSTRAP THEME
      section
        .p-about
          .l-wrapper.columns
            figure
              img(src="assets/img/iphone.png" alt="")
            .about
              h1.title.is-raleway WHAT WE CAN DO?
              p.desc.is-lato Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      article
        .p-works
          .l-wrapper
            h1.title.is-raleway OUR LATEST WORKS
            ul.works
              li
                a
                  img(src="assets/img/01.jpg", alt="")
              li
                a
                  img(src="assets/img/02.jpg", alt="")
              li
                a
                  img(src="assets/img/03.jpg", alt="")
              li
                a
                  img(src="assets/img/04.jpg", alt="")
              li
                a
                  img(src="assets/img/05.jpg", alt="")
              li
                a
                  img(src="assets/img/06.jpg", alt="")
            .contact
              p.desc.is-lato Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
              p
                a(href="" class="email") Email Me!
      section
        .p-skills
          .l-wrapper
            h1.title.is-raleway OUR SKILLS
            ul.skills
              li
                figure
                  img(src="assets/img/circle_01.png", alt="")
                  figcaption Javascript
              li
                figure
                  img(src="assets/img/circle_02.png", alt="")
                  figcaption Bootstrap
              li
                figure
                  img(src="assets/img/circle_03.png", alt="")
                  figcaption WordPress
              li
                figure
                  img(src="assets/img/circle_04.png", alt="")
                  figcaption Photoshop
      nav
        .p-sns-links
          .inner
            ul
              li
                a(href="")
                  i.fab.fa-facebook.is-awesome
              li
                a(href="")
                  i.fab.fa-dribbble.is-awesome
              li
                a(href="")
                  i.fab.fa-twitter.is-awesome
              li
                a(href="")
                  i.fas.fa-envelope.is-awesome
      footer.l-footer
        .l-wrapper
          p.txt Crafted with
            i.fa.fa-heat
            | by BlackTie.co.
      .p-modal-overlay.is-close
        .overlay
        .content
          p.txt
            a(href="javascript:void(0)") Contact
      script(src="js/app.js")







              
