.p-about
  background: cv-color;
  padding: 50px 0 0;
  .columns
    display: flex;
    justify-content: space-around;
    figure
      text-align: center;
      width: 40%;
    .about
      margin-top: 50px;
      width: 60%;
      color: #fff;
      text-align: center;
      .title
        font-size: 24px;
      .desc
        margin-top: 35px;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
@media screen and (min-width 768px) and (max-width 1100px)
  .p-about
    .columns
      display: block;
      padding: 50px 0 25px;
      figure
        width: 100%;
        margin-bottom: 20px;
      .about
        width: 100%;
        .desc
          margin: 35px auto 0;
          width: 100%;
@media screen and (max-width 767px)
  .p-about
    .columns
      display: block;
      padding: 50px 0 25px;
      figure
        width: 100%;
        margin-bottom: 20px;
      .about
        width: 100%;
        .desc
          margin: 35px auto 0;
          width: 100%;