.p-page-title
  margin-top: 70px;
  background: bg-gray;
  padding: 250px 0;
  .title
    color: cv-color;
    font-size: 90px;
    font-weight: 700;
    text-align: center;
  .desc
    color: desc-color;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
@media screen and (max-width 767px)
  .p-page-title
    padding: 160px 0 130px;
    .title
      font-size: 80px;