.p-works
  background: bg-gray;
  padding: 60px 0 70px;
  .title
    font-size: 24px;
    font-family: 'Raleway';
    margin-bottom: 40px;
    text-align: center;
    font-weight: 300;
  .works
    display: flex;
    flex-wrap: wrap;
    // margin-left: -100px;
    text-align: center;
    justify-content: space-around;
    li
      margin-bottom: 80px;
      // padding-left: 100px;
      width: calc(33.33333% - 50px);
      &:nth-child(n + 4)
        margin-bottom: 90px;  
      a
        display: block;
        opacity .7;
        transition: all .3s;
        &:hover
          opacity 1;
  .contact
    display: flex;
    justify-content: center;
    align-items: center;
    .desc
      width: 64%;
      font-size: 21px;
      letter-spacing: 1px;
      line-height: 1.4;
      font-weight: 200;
      text-align: center;
    p
      margin-left: 90px;
      width: calc(36% - 90px);
      .email
        display: inline-block;
        background: cv-color;
        color: #fff;
        font-size: 12px;
        padding: 14px 20px;
        transition: all .3s;
        text-decoration: none;
        &:hover
          color: text-color;
@media screen and (min-width 768px) and (max-width 1100px)
  .p-works
    .works
      display: block;
      li
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        &:nth-child(n + 4)
          margin-bottom: 0;
        &:last-child
          margin-bottom: 80px;
        a
          img
            vertical-align: bottom;
    .contact
      display: block;
      .desc
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
      p
        margin: 0 auto;
        text-align: center;
        width: 100%;
@media screen and (max-width 767px)
  .p-works
    .works
      display: block;
      li
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        &:nth-child(n + 4)
          margin-bottom: 0;
        &:last-child
          margin-bottom: 80px;
        a
          img
            vertical-align: bottom;
    .contact
      display: block;
      .desc
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
      p
        margin: 0 auto;
        text-align: center;
        width: 100%;


